# Apple ignores
.DS_Store
.AppleDouble
.LSOverride
._*

# build ignores
firmware/crAPU/Build/*
!firmware/crAPU/Build/Makefile
!firmware/crAPU/Build/makedep.mk

# jlink ignores
firmware/crAPU/jlink.*

# vscode ignores
.vscode